xsd/message.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="flowerplanet">
        <xsd:complexType>
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="price" type="xsd:string"/>
            <xsd:element name="description" type="xsd:string"/>
            <xsd:element name="number" type="xsd:int"/>
        </xsd:sequence>
        </xsd:complexType>
    </xsd:element>